In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from sklearn.preprocessing import StandardScaler

plt.rcParams["figure.figsize"] = (10,8) 

# Configuraci贸n warnings
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns=None

En el pair programming de hoy usaremos el set de datos que guardast茅is en el pair programming de normalizaci贸n y estandarizaci贸n.

In [2]:
df=pd.read_csv('../datos/salary_normalizado.csv', index_col=0)
df.head(2) #Hacemos una vista previa de nuestro DataFrame

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,salary_box
0,2020,Entry-Level,Full-Time,Data Analyst,72000,US,100,US,L,4631.904560
1,2020,Mid-Level,Full-Time,Business Data Analyst,135000,US,100,US,L,7311.922975

Hasta ahora hab茅is estado evaluando las caracter铆sticas de vuestro set de datos y hab茅is hecho una gran exploraci贸n, es el momento de hacer vuestro primer ANOVA! En el ejercicio de hoy tendr茅is que hacer un ANOVA con vuestro datos y hacer una interpretaci贸n de los resultados.

Vamos a utilizar las variables que cumplen la asunci贸n de homocedasticidad y normalidad (ninguna cumple la estandarizaci贸n por no tenemos variables n煤mericas)

In [3]:
# iniciamos nuestro anova. Recordemos que la variable respuesta es el precio de las casas (median_house_value)
lm = ols('salary_box ~ work_year  + experience_level + employee_residence + company_location' , data=df).fit()
sm.stats.anova_lm(lm)

                       df        sum_sq       mean_sq          F        PR(>F)
experience_level      3.0  4.506350e+08  1.502117e+08  70.445125  1.737270e-34
employee_residence    5.0  2.888119e+08  5.776237e+07  27.088958  1.366565e-22
company_location      5.0  1.560573e+07  3.121146e+06   1.463731  2.015523e-01
work_year             1.0  4.380267e+03  4.380267e+03   0.002054  9.638797e-01
Residual            299.0  6.375642e+08  2.132322e+06        NaN           NaN

#### Interpretaci贸n de resultados.

En vista de los resultados obtenidos en la columna de PR podemos ver todas nuestras variables tienen un efecto sobre la variable respuesta y por lo tanto, no necesitamos eliminar ninguna variable predictora de nuestro modelo. Si nos fijamos en el impacto que tiene cada una de nuestras variables predictoras sobre nuestra variable respuesta nos damos cuenta la que m谩s impacta es experience_level en gran medida, seguida de employee_residence que tiene un impacto mucho menor y finalmente vemos que company_location y work_year tienen un impacto mucho menor en nuestra variable respuesta.

In [4]:
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             salary_box   R-squared:                       0.542
Model:                            OLS   Adj. R-squared:                  0.525
Method:                 Least Squares   F-statistic:                     32.12
Date:                Thu, 29 Sep 2022   Prob (F-statistic):           1.85e-44
Time:                        10:26:42   Log-Likelihood:                -2701.2
No. Observations:                 311   AIC:                             5426.
Df Residuals:                     299   BIC:                             5471.
Df Model:                          11
Covariance Type:            nonrobust
=======================================================================================================
                                          coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                           -3.483e+04   3.35e+05     -0.104      0.917   -6.95e+05    6.25e+05
experience_level[T.Executive Level]  3499.0530    727.968      4.807      0.000    2066.463    4931.643
experience_level[T.Mid-Level]        1092.5298    315.017      3.468      0.001     472.599    1712.460
experience_level[T.Senior]           2022.4765    329.480      6.138      0.000    1374.082    2670.871
employee_residence[T.ES]             2137.4221   1121.615      1.906      0.058     -69.838    4344.682
employee_residence[T.FR]             -317.1116    301.950     -1.050      0.294    -911.329     277.105
employee_residence[T.GB]               48.0388    231.122      0.208      0.835    -406.794     502.871
employee_residence[T.IN]            -4296.2225   1112.722     -3.861      0.000   -6485.981   -2106.464
employee_residence[T.US]             1467.0345    734.708      1.997      0.047      21.181    2912.888
company_location[T.ES]              -3169.8770   1190.277     -2.663      0.008   -5512.258    -827.496
company_location[T.FR]               -317.1116    301.950     -1.050      0.294    -911.329     277.105
company_location[T.GB]                 48.0388    231.122      0.208      0.835    -406.794     502.871
company_location[T.IN]               2160.9323   1168.880      1.849      0.065    -139.342    4461.206
company_location[T.US]                317.1790    733.040      0.433      0.666   -1125.393    1759.751
work_year                              19.0238    165.929      0.115      0.909    -307.513     345.561
==============================================================================
Omnibus:                        3.470   Durbin-Watson:                   1.858
Prob(Omnibus):                  0.176   Jarque-Bera (JB):                3.411
Skew:                           0.155   Prob(JB):                        0.182
Kurtosis:                       3.409   Cond. No.                     4.36e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 6.69e-31. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

 NOTA Puede que vuestros datos no se ajusten o no cumplan todas las asunciones, no pasa nada, haced el ANOVA e interpretad los resultados. En pr贸ximas lecciones aprenderemos que podemos hacer cuando nos encontramos en esta situaci贸n.