In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA
from sklearn.preprocessing import StandardScaler

plt.rcParams["figure.figsize"] = (10,8) 

# Configuración warnings
import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns=None

En el pair programming de hoy usaremos el set de datos que guardastéis en el pair programming de normalización y estandarización.

In [4]:
df=pd.read_csv('../datos/salary_normalizado.csv', index_col=0)
df.head(2) #Hacemos una vista previa de nuestro DataFrame

,work_year,experience_level,employment_type,job_title,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,salary_box
0,2020,Entry-Level,Full-Time,Data Analyst,72000,US,100,US,L,4631.904560
1,2020,Mid-Level,Full-Time,Business Data Analyst,135000,US,100,US,L,7311.922975

Hasta ahora habéis estado evaluando las características de vuestro set de datos y habéis hecho una gran exploración, es el momento de hacer vuestro primer ANOVA! En el ejercicio de hoy tendréis que hacer un ANOVA con vuestro datos y hacer una interpretación de los resultados.

In [5]:
# iniciamos nuestro anova. Recordemos que la variable respuesta es el precio de las casas (median_house_value)
lm = ols('salary_box ~ work_year  + experience_level + employment_type + job_title + employee_residence + remote_ratio +\
    company_location + company_size' , data=df).fit()
sm.stats.anova_lm(lm)

                       df        sum_sq       mean_sq          F        PR(>F)
experience_level      3.0  4.506350e+08  1.502117e+08  83.218087  5.728799e-39
employment_type       0.0  0.000000e+00           NaN        NaN           NaN
job_title             3.0  6.695621e+07  2.231874e+07  12.364702  1.226550e-07
employee_residence    5.0  3.144030e+08  6.288059e+07  34.836191  6.484390e-28
company_location      5.0  1.567755e+07  3.135511e+06   1.737090  1.259936e-01
company_size          2.0  1.167032e+07  5.835162e+06   3.232712  4.086174e-02
work_year             1.0  1.241798e+06  1.241798e+06   0.687963  4.075334e-01
remote_ratio          1.0  4.835848e+06  4.835848e+06   2.679086  1.027477e-01
Residual            293.0  5.288756e+08  1.805036e+06        NaN           NaN

lm = ols('salary_in_usd ~ work_year  + experience_level + employment_type + job_title + employee_residence + remote_ratio +\
    company_location + company_size' , data=df).fit()
sm.stats.anova_lm(lm)

In [7]:
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:          salary_in_usd   R-squared:                       0.579
Model:                            OLS   Adj. R-squared:                  0.554
Method:                 Least Squares   F-statistic:                     23.68
Date:                Tue, 27 Sep 2022   Prob (F-statistic):           2.60e-45
Time:                        18:42:22   Log-Likelihood:                -3673.3
No. Observations:                 311   AIC:                             7383.
Df Residuals:                     293   BIC:                             7450.
Df Model:                          17
Covariance Type:            nonrobust
=======================================================================================================
                                          coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------
Intercept                           -8.534e+06   9.28e+06     -0.920      0.359   -2.68e+07    9.73e+06
experience_level[T.Executive Level]  8.464e+04   1.69e+04      5.013      0.000    5.14e+04    1.18e+05
experience_level[T.Mid-Level]        2.098e+04   7473.342      2.807      0.005    6271.666    3.57e+04
experience_level[T.Senior]           4.192e+04   7734.736      5.419      0.000    2.67e+04    5.71e+04
job_title[T.Data Analyst]           -1.509e+04   2.05e+04     -0.735      0.463   -5.55e+04    2.53e+04
job_title[T.Data Engineer]           1.179e+04   2.05e+04      0.574      0.566   -2.86e+04    5.22e+04
job_title[T.Data Scientist]          1.766e+04   2.04e+04      0.866      0.387   -2.25e+04    5.78e+04
employee_residence[T.ES]             3.604e+04   2.66e+04      1.353      0.177   -1.64e+04    8.84e+04
employee_residence[T.FR]            -1.008e+04   7132.071     -1.413      0.159   -2.41e+04    3960.461
employee_residence[T.GB]            -3941.1377   5573.241     -0.707      0.480   -1.49e+04    7027.521
employee_residence[T.IN]            -8.333e+04   2.64e+04     -3.152      0.002   -1.35e+05   -3.13e+04
employee_residence[T.US]             2.344e+04   1.71e+04      1.369      0.172   -1.03e+04    5.71e+04
company_location[T.ES]               -6.93e+04   2.78e+04     -2.493      0.013   -1.24e+05   -1.46e+04
company_location[T.FR]              -1.008e+04   7132.071     -1.413      0.159   -2.41e+04    3960.461
company_location[T.GB]              -3941.1377   5573.241     -0.707      0.480   -1.49e+04    7027.521
company_location[T.IN]               3.419e+04   2.76e+04      1.238      0.217   -2.01e+04    8.85e+04
company_location[T.US]               1.127e+04   1.72e+04      0.653      0.514   -2.27e+04    4.52e+04
company_size[T.M]                   -5227.6557   5749.395     -0.909      0.364   -1.65e+04    6087.691
company_size[T.S]                   -2.109e+04   9459.460     -2.230      0.027   -3.97e+04   -2476.416
work_year                            4248.5083   4590.729      0.925      0.355   -4786.476    1.33e+04
remote_ratio                           75.3783     47.683      1.581      0.115     -18.466     169.223
==============================================================================
Omnibus:                       10.118   Durbin-Watson:                   1.875
Prob(Omnibus):                  0.006   Jarque-Bera (JB):               11.426
Skew:                           0.334   Prob(JB):                      0.00330
Kurtosis:                       3.661   Cond. No.                     3.05e+19
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.37e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

📌 NOTA Puede que vuestros datos no se ajusten o no cumplan todas las asunciones, no pasa nada, haced el ANOVA e interpretad los resultados. En próximas lecciones aprenderemos que podemos hacer cuando nos encontramos en esta situación.